:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --secondary-accent-color: #404bbf;
  --primary-white-color: #ffffff;

  /* ANIMATIONS */
  --function-duration: 250ms;
  --function-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/*------------------------Header------------------------*/
body {
  font-family: "Roboto", sans-serif;
  
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.logo-style {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--accent-color);
}

.page-header {
  list-style: none;

  background:var(--primary-white-color);
}

.header-border {
  border-bottom: 1px solid #E7E9FC;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px 
  rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-nav {
  display: flex;
  align-items: center;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
}

/*------------------------Navigation------------------------*/
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--secondary-accent-color);
}

.item-elements:hover::after,
.item-elements:focus::after{
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  top: 68px;
  background: var(--secondary-accent-color);
  border-radius: 2px;
}

.item-nav{
  transition: var(--function-timing), var(--function-duration);
  position: relative;
}

.site-nav {
  display: flex;
  margin-left: 76px;
}

.site-nav .item:not(:last-child){
  margin-right: 40px;
}

.site-nav .link {
  text-decoration: none;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: var(--function-timing), var(--function-duration);

  color: var(--secondary-text-color);
}

.site-nav_link_current {
  position: relative;
  color: var(--secondary-accent-color);
  }
  
  .site-nav_link_current::after {
  content: '';
  position: absolute;
  display: block;
  
  width: 100%;
  height: 4px;
  
  left: 0;
  bottom: 0;
  
  border-radius: 2px;
  background-color: var(--secondary-accent-color);
  }

/*------------------------Phone number at Email------------------------*/
.nav {
  list-style: none;
  font-style: inherit;
  margin-left: auto;
}

.nav .link:hover,
.nav .link:focus {
  color: var(--secondary-accent-color);
}

.contacts-nav {
  display: flex;
}

.contacts-nav .item:not(:last-child) {
  margin-right: 40px;
}

.contacts-nav .link {
  list-style: none;
  font-style: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: var(--function-timing), var(--function-duration);

  color: var(--primary-text-color);
}

/*------------------------Hero------------------------*/
.hero-container {
  text-align: center;
}

.hero-title {
  margin: 0 auto;
  margin-bottom: 48px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  text-align: center;

  color: var(--primary-white-color);
}

.flex-container {
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
}

.flex-container:nth-child(4) {
  margin-right: 0;
}

.features-container{
  padding-top: 120px;
  padding-bottom: 120px;
}

.feature-list {
  display: flex;
  margin-top: 0;
}

.icon-feature{
  width: 264px;
height: 112px;
background: #F4F4FD;
border-radius: 4px;
margin-bottom: 8px;
align-items: center;
justify-content: center;
display: flex;
}

.icon-items {
  display: flex;
}

.uptitle {
  padding-bottom: 8px;
}

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background: var(--secondary-text-color);
}

.overlay{
  max-width: 1440px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), 
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

/*------------------------Main button------------------------*/
.button-submit {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  border: 0;
  margin: inherit;
  transition: var(--function-timing), var(--function-duration);

  color: var(--primary-white-color);
  background: var(--accent-color);
}

.button-submit:hover,
.button-submit:focus {
  color: var(--primary-white-color);
  background-color: var(--secondary-accent-color);
}

/*------------------------Portfolio Nav------------------------*/
.button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border-radius: 4px;
  transition: var(--function-timing), var(--function-duration);

  border: 1px solid #E7E9FC;
  color: var(--accent-color);
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--secondary-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--secondary-accent-color);
}

.btn {
  display: flex;
  justify-content: center;
  margin-right: 24px;
}

.btn-elements {
  margin-right: 24px;
}

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-container{
  margin-bottom: 72px;
}

/*------------------------Features------------------------*/
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;

  color: var(--secondary-text-color);
}

.subject-container {
  padding-bottom: 120px;
}

.section-subject {
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;

  color:var(--secondary-text-color);
}

.list-subject {
  display: flex;
  justify-content: space-between;
}

.flex-subject {
  background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(2368.jpg);
}

.img-subject{
  display: block;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.team-bg {
  padding-top: 120px;
  padding-bottom: 110px;

  background: #F4F4FD;
}

.section-team {
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;

  color:var(--secondary-text-color);
}

.team-members{
  display: flex;
  column-gap: 24px;
  text-align: center;
}
    
.team-members:nth-child(3n+1) {
  margin-right: 0;
}
  
.team-members-nam {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;

  color: var(--secondary-text-color); 
}

.team-members-items{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  
  background: var(--primary-white-color);
}

.team-members-pos {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
text-align: center;
  color: var(--primary-text-color);
}

.team-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px ;
}

.socials-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
  transition: var(--function-timing), var(--function-duration);
}

.socials-list-link:hover,
.socials-list-link:focus {
  background-color:#404BBF;
}

.team-list-link-wrapper {
  display: block;
}

.team-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.product-actions {
  position: absolute;
  overflow: auto;
  transform: translate(0,100%);
  transition: transform var(--function-timing), var(--function-duration);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #F4F4FD;
  padding: 40px;
  padding-right: 32px;
  padding-bottom: 164px;
  padding-left: 32px;
}

.team-list-link-wrapper:hover .product-actions,
.team-list-link-wrapper:focus .product-actions {
  transform: translate(0,0);
}


.flex-elements{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.flex-elements:nth-child(2n+1) {
  margin-right: 0;
}

.list-elements {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: var(--function-timing), var(--function-duration);
}

.list-elements:hover,
.list-elements:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
  0px 1px 1px rgba(46, 47, 66, 0.16), 
  0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-elements:nth-child(n + 6) {
  margin-bottom: 0;
}

.product-content {
  border: 1px solid #E7E9FC;
  padding: 32px 16px 32px 16px;
}

.product-img {
  display: block;
}

.clients-section{
  padding-top: 130px;
  padding-bottom: 120px;
}

.section-clients {
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  color: var(--secondary-text-color);
}

.clients{
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.clients-rectangle {
  width: 168px;
  height: 88px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: fill var(--function-timing), var(--function-duration), 
  border var(--function-timing), var(--function-duration);

  border: 1px solid #8E8F99;
  fill: #8E8F99;
}

.clients-rectangle:hover,
.clients-rectangle:focus {
  border: 1px solid var(--secondary-accent-color);
  fill:var(--secondary-accent-color);
}

/*------------------------Footer------------------------*/
.logo-footer {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.text-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  margin-top: 16px;

  color: #e7e9fc;
}

.footer-bg {
padding-top: 100px;
padding-bottom: 100px;

background: var(--secondary-text-color);
}

.footer-content{
  display: flex;
}

.gaps-colum {
  margin-left: 120px;
  margin-right: 80px;
}

.uptitle-ftr {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.02em;

  color: var(--primary-white-color);
}

.social-list-ftr {
  display: flex;
  gap: 16px;
}

.socials-list-link-ftr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.socials-list-link-ftr:hover,
.socials-list-link-ftr:focus {
  background-color: #31D0AA;
}

/*------------------SUBSCRIBE FORMS----------------*/

.form-input-box{
  display: block;
}

.form-input{
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 8px 108px 8px 16px;
  background-color: #2e2f42;
  font-size: 12px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 23px;
}

.button-primary {
  cursor: pointer;
  position: relative;
  padding: 8px 64px 8px 24px;
  background: var(--accent-color);
  border-radius: 4px;
  border: 0;
  color: var(--primary-white-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color var(--function-timing), var(--function-duration);
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--secondary-accent-color);
}

.svg-ftr {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(0,-50%);
}

/*----------MODAL---------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  z-index: 100;
  transition: opacity var(--function-timing), var(--function-duration), 
  visibility var(--function-timing), var(--function-duration);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 408px;
  height: 584px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: transparent;
  background: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  transition: background-color var(--function-timing), var(--function-duration), 
  border var(--function-timing), var(--function-duration);
}

.modal-close-btn-icon {
  transition: fill var(--function-timing), var(--function-duration);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border-color:var(--secondary-accent-color);
  background-color: var(--secondary-accent-color);
  fill: var(--primary-white-color);
}

.color-privacy{
  color: var(--accent-color);
}

/*----------MODAL FORM---------*/

.modal-text-aler {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color:var(--secondary-text-color);
  margin-bottom: 14px;
  }
  
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  font-size: 18px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  transition: var(--function-timing), var(--function-duration);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-desc{
  display: block;
  font-style: normal;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8E8F99;
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-bottom: 7px;
}

.modal-form-input-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 16px;
  transform: translate(0,-50%);
  transition: fill var(--function-timing), var(--function-duration);
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 16px;
  transition: border-color var(--function-timing), var(--function-duration);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-align: center;
  color: #757575;
  margin-bottom: 20px;
}

.modal-form-check-desc::before {
  content:"";
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--secondary-text-color);
  border-radius: 2px;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center;
  transform: var(--function-timing), var(--function-duration);
} 

.modal-form-check:focus + .modal-form-check-desc::before {
  border: 1.25px solid var(--secondary-accent-color);
  background-image: url(../images/vector-check.svg);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.modal-form-submit {
  cursor: pointer;
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 66px;
  border: 0;
  margin-bottom: 20px;
  transition: var(--function-timing), var(--function-duration);

  color: var(--primary-white-color);
  background: var(--accent-color);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  color: var(--primary-white-color);
  background-color: var(--secondary-accent-color);
}

